@page
@using App.Global
@using App.Global.Localization
@using App.Global.Permissions
@using Microsoft.Extensions.Localization
@model App.Global.Web.Pages.Mails.IndexModel
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<GlobalResource> L
@inject IAuthorizationService AuthorizationService

@section styles{
<abp-style src="/styles/emails/Index.css" />
}

@section scripts
{
<abp-script src="/ckeditor/ckeditor.js" />
<abp-script src="/scripts/emails/Index.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_8">
                <div class="container">
                    <abp-row>
                        <abp-column size="_4">
                            <abp-card-title>@L["sericeSendMail"]</abp-card-title>
                        </abp-column>
                        <abp-column size="_4">
                            <input name="filter" class="filter form-control" placeholder="Filter..." />
                        </abp-column>
                        <abp-column size="_4">
                            <abp-row>
                                <abp-column size="_5">
                                    <label style="padding-top: 5px;">Status: </label>
                                </abp-column>
                                <abp-column size="_7">
                                    <select class="form-control cbxStatus">
                                        <option value="">All</option>
                                        @foreach (EmailStatusEnum item in (EmailStatusEnum[])Enum.GetValues(typeof(EmailStatusEnum)))
                                        {
                                            <option value="@((int)item)">@item</option>
                                        }
                                    </select>
                                </abp-column>
                            </abp-row>
                        </abp-column>
                    </abp-row>
                </div>
            </abp-column>
            <abp-column size-md="_4" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync("SettingManagement.Emailing"))
                {
                    <abp-button id="EmailConfig" text="@L["emailConfig"]" icon="wrench" button-type="Outline_Warning" />
                }
                <abp-button id="EmailCreate" text="Create new" icon="wrench" button-type="Outline_Primary" />
                <abp-button id="Download" text="Export excel" icon="wrench" button-type="Outline_Success" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div class="container">
            <abp-table striped-rows="true" id="Email-Service"></abp-table>
        </div>
    </abp-card-body>
</abp-card>